name: BuildPlik

on:
  schedule:
    - cron: "0 23 * * 0"
  push:
    branches:
      - master 
  workflow_dispatch:
  
jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.11.3

      - name: BuildPlik .exe
        run: |
          pyinstaller.exe --onefile project.py
          pyinstaller.exe --onefile --noconsole project.py

      - name: Upload .exe
        uses: actions/upload-artifact@v3
        with:
          name: MyProject
          path: C:\laboratoriumy Git Bash\lab6,7,8(projekt)\dist\project.exe 
          
      - name: Install pip
        run: |
          python -m ensurepip --upgrade
          python -m pip install --upgrade pip
          pip install -r C:\laboratoriumy Git Bash\lab6,7,8(projekt)\project.TXT
